@charset "UTF-8";

html {
    font-family: "Malgun Gothic", sans-serif;
    font-size: 16px;
    color: #464646;
}
body, h1, h2, h3, h4, h5, h6, ul, ol, dl, table, form {
    padding: 0;
    margin: 0;
}
ul, ol, dl {
    list-style: none;
}
a {
    text-decoration: none;
    color: #464646;
    display: block;
}
img {
    display: block;
}
body {
    background-color: #f5f5f5;
}
div#container {
    width: 1200px;
    height: 700px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    background-color: #f5f5f5;
}
#header, #slideshow, #main, #footer {
    width: 1200px;
}
#header {
    height: 100px;
}
#header h1.logo {
    height: 70px;
    width: 200px;
    float: left;
}
#header h1.logo a {
    margin-top: 30px;
    height: 40px;
    width: 100%;
}
#header h1.logo a img {
    width: 200px;
    height: 40px;
}
#header nav.main-nav {
    height: 100px;
    width: 830px;
    padding-right: 10px;
    float: right;
    box-sizing: border-box;
}
#header nav.main-nav > ul {
    width: 100%;
    height: 60px;
    margin-top: 40px;
}
#header nav.main-nav > ul > li {
    height: 40px;
    width: 200px;
    float: left;
    line-height: 40px;
}
#header nav.main-nav > ul > li > a {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #1e1e1e;
    border-bottom: 3px solid transparent;
}
#header nav.main-nav > ul > li:hover > a {
    border-bottom: 3px solid #711b04;
}
#header nav.main-nav ul.sub-nav {
    height: 150px;
    width: 100%;
    z-index: 100;
    position: absolute;
    margin-top: 10px;
    display: none;
}
#header nav.main-nav ul.sub-nav li {
    height: 30px;
    width: 200px;
    line-height: 30px;
}
#header nav.main-nav ul.sub-nav li a {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #711b04;
    background-color: #f5f5f5;
}
#header nav.main-nav ul.sub-nav li:hover a {
    background-color: #711b04;
    color: #f5f5f5;
}
#slideshow {
    height: 300px;
    position: relative;
}
#slideshow div.slides {
    height: 100%;
    width: 400%;
    position: absolute;
    left: 0;
    top: 0;
}
#slideshow div.slides div.sld {
    width: 1200px;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}
#slideshow div.slides div.sld a {
    width: 100%;
    height: 100%;
}
#slideshow div.slides div.sld img {
    width: 100%;
    height: 100%;
}
#slideshow div.slides div.sld h2 {
    position: absolute;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    word-spacing: 3px;
}
#slideshow div.slides div.sld.t1 h2 {
    bottom: 10px;
    right: 0;
    padding-right: 10px;
    width: 400px;
    background: linear-gradient(90deg, transparent, rgba(113, 27, 4, 0.8));
    color: #f5f5f5;
    text-shadow: 2px 2px 1px #711b04;
}
#slideshow div.slides div.sld.t2 h2 {
    bottom: 50px;
    left: 0;
    width: 1200px;
    background: linear-gradient(90deg, transparent, #f5f5f5, transparent);
    text-shadow: 2px 2px 1px #f5f5f5;
}
#slideshow div.slides div.sld.t3 h2 {
    right: 10px;
    bottom: 100px;
    width: 350px;
    background: rgba(245, 245, 245, 0.6);
    border-radius: 15px;
    text-shadow: 2px 2px 1px #f5f5f5;
}
#slideshow div.slides div.sld.t4 h2 {
    top: 80px;
    left: 10px;
    width: 300px;
    color: #f5f5f5;
    background: linear-gradient(90deg, transparent, #1e1e1e, transparent);
    text-shadow: 2px 2px 1px #711b04;
}
#main {
    height: 200px;
}
#footer {
    height: 100px;
    background-color: rgba(70, 70, 70, 0.1);
}
#footer h1.logo_gray {
    height: 70px;
    width: 200px;
    float: left;
}
#footer h1.logo_gray a {
    margin-top: 30px;
    height: 40px;
    width: 100%;
}
#footer h1.logo_gray a img {
    width: 200px;
    height: 40px;
    filter: grayscale(1);
}
#footer div.menu {
    width: 1000px;
    height: 30px;
    padding-top: 10px;
    float: right;
}
#footer div.menu ul {
    width: 100%;
    height: 100%;
}
#footer div.menu ul li {
    float: left;
    padding-left: 180px;
}
#footer div.menu ul li a {
    text-align: center;
    color: #464646;
    font-size: 16px;
    font-weight: bold;
}
#footer div.menu ul li:hover a {
    color: #711b04;
}
#footer div.copy {
    width: 1000px;
    height: 60px;
    padding-top: 5px;
    float: right;
    text-align: center;
    line-height: 20px;
    color: #464646;
    font-size: 12px;
}
#footer div.copy address {
    letter-spacing: 1px;
}
#footer div.copy p {
    letter-spacing: 1px;
    margin-top: 5px;
    font-weight: bold;
}
#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}
#modal div.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    margin: -280px 0 0 -300px;
    width: 600px;
    height: 350px;
    background-color: rgba(113, 27, 4, 1);
    font-size: 16px;
}
#modal div.popup > div {
    margin: 5px auto;
    box-sizing: border-box;
    background: rgba(245, 245, 245, 0.75);
    padding: 10px 30px;
    width: 590px;
    height: 340px;
}
#modal div.popup h2 {
    font-size: 26px;
    letter-spacing: -1px;
    word-spacing: -1.5px;
    text-align: center;
    margin-top: 10px;
    color: #f5f5f5;
    font-weight: bold;
}
#modal div.popup span {
    font-weight: bold;
}
#modal div.popup p {
    text-align: justify;
    width: 610px;
    word-spacing: -0.5px;
    letter-spacing: -0.5px;
    margin-top: 20px;
    font-size: 12px;
}
#modal div.popup li {
    font-size: 12px;
}
#modal div.popup button.cls {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: none;
    color: #f5f5f5;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1.5px;
    border: none;
}
#modal div.popup button.cls:hover {
    cursor: pointer;
    color: #464646;
}