@charset "UTF-8";

html {
    font-family: "Malgun Ghotic", sans-serif;
    font-size: 16px;
    color: #e2e2e2;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, form, table {
    padding: 0;
    margin: 0;
}
ul, ol, dl {
    list-style: none;
}
a {
    text-decoration: none;
    color: #e2e2e2;
    background: transparent;
    display: block;
}
img {
    display: block;
}
body {
    background-color: #000;
}
div#container {
    width: 1200px;
    height: 700px;
    background-color: #000;
    margin: 0 auto;
}
#header, #slideshow, #main, #footer {
    width: 1200px;
    background-color: #000;
}
#header {
    height: 100px;
}
#header h1.logo {
    width: 200px;
    height: 100px;
    padding-top: 30px;
    box-sizing: border-box;
    float: left;
}
#header h1.logo a {
    width: 100%;
    height: 100%;
}
#header h1.logo a img {
    height: 40px;
}
#header nav.main-nav {
    width: 800px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 30px;
    float: right;
}
#header nav.main-nav > ul {
    height: 40px;
    width: 100%;
}
#header nav.main-nav > ul > li {
    height: 100%;
    width: 190px;
    float: left;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    position: relative;
    z-index: 100;
}
#header nav.main-nav > ul > li:hover {
    border-bottom: 3px solid #d6232a;
}
#header nav.main-nav > ul > li a {
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #e2e2e2;
}
#header nav.main-nav ul.sub-nav {
    width: 100%;
    /* height: 160px; */
    position: absolute;
    left: 0;
    top: 40px;
    display: none;
}
#header nav.main-nav ul.sub-nav li {
    background: #eecacc;
    line-height: 26px;
    width: 100%;
    padding-top: 5px;
}
#header nav.main-nav ul.sub-nav li a {
    height: 100%;
    line-height: 26px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
#header nav.main-nav ul.sub-nav li:hover a {
    background-color: #d6232a;
    color: #e2e2e2;
}
#slideshow {
    height: 300px;
    overflow: hidden;
    position: relative;
}
#slideshow div.slides {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#slideshow div.slides div.sld {
    width: 1200px;
    height: 100%;
    float: left;
    position: absolute;
    overflow: hidden;
}
#slideshow div.slides div.sld a {
    width: 100%;
    height: 100%;
}
#slideshow div.slides div.sld a img {
    width: 100%;
}
#slideshow div.slides div.sld a h2 {
    position: absolute;
    box-sizing: border-box;
    font-size: 32px;
    letter-spacing: -0.7px;
    word-spacing: 5px;
    /* border-radius: 10px; */
    line-height: 45px;
    text-align: center;
    color: #333;
}
#slideshow div.slides div.sld.t1 a h2 {
    left: 420px;
    top: 90px;
    font-size: 40px;
    background: radial-gradient( 250px, rgba(214, 35, 42, .8) , transparent);
    width: 500px;
    border-radius: 0px;
    line-height: 60px;
    color: #e2e2e2;
}
#slideshow div.slides div.sld.t1 a h2 span {
    font-size: 50px;
}
#slideshow div.slides div.sld.t2 a h2 {
    left: 80px;
    bottom: 120px;
    background: radial-gradient( 600px, rgba(238, 202, 204, 1) , transparent);
    width: 1000px;
    line-height: 60px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
#slideshow div.slides div.sld.t3 a h2 {
    left: 50px;
    top: 10px;
    background: linear-gradient(90deg, rgba(214, 35, 42, 1), transparent);
    width: 500px;
    height: 90px;
    text-align: left;
    padding-left: 35px;
    color: #e2e2e2;
}
#slideshow div.slides div.sld.t4 a h2 {
    left: 300px;
    top: 130px;
    width: 600px;
    background: radial-gradient( 1000px, rgba(238, 202, 204, .85) , transparent);
    box-shadow: 2px 3px 20px rgba(238, 202, 204, 1);
}
#main {
    height: 200px;
}

#footer {
    height: 100px;
}
#footer h1.logo_gray {
    width: 200px;
    height: 100px;
    padding-top: 30px;
    box-sizing: border-box;
    float: left;
}
#footer h1.logo_gray a {
    width: 100%;
    height: 100%;
}
#footer h1.logo_gray a img {
    height: 40px;
}
#footer div.site {
    width: 1000px;
    height: 30px;
    padding-top: 5px;
}
#footer div.site ul {
    width: 100%;
    height: 100%;
}
#footer div.site ul li {
    float: right;
    margin-left: 75px;
}
#footer div.site ul li:last-child {
    margin: 0;
}
#footer div.site ul li a {
    text-align: center;
    font-size: 16px;
    color: #e2e2e2;
    font-weight: bold;
}
#footer div.site ul li:hover a {
    color: #d6232a;
}
#footer div.copy {
    width: 1000px;
    float: right;
    text-align: center;
    color: #666666;
    line-height: 30px;
}
#footer div.copy p {
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: bold;
}
#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 9999;
}
#modal div.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 250px;
    box-sizing: border-box;
    margin: -200px 0 0 -250px;
    background: linear-gradient(45deg, #d6232a, #eecacc);
}
#modal div.popup > div {
    width: 490px;
    height: 240px;
    margin: 5px auto;
    background: #000;
    padding: 15px 20px;
    box-sizing: border-box;
}
#modal div.popup h2 {
    color: #e2e2e2;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    letter-spacing: -1px;
}
#modal div.popup p {
    color: #e2e2e2;
    font-size: 14px;
    line-height: 180%;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2.5px;
}
#modal div.popup button.cls {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: none;
    color: #e2e2e2;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1.5px;
    border: none;
}
#modal div.popup button.cls:hover {
    color: #d6232a;
    cursor: pointer;
}
